 html {
   height: 100%;
   background-color: #fff;
 }

 body {
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
 }

 .wrapper {
   background-color: #EFF1F3;
 }

a {
  text-decoration: none;
}

li{
  list-style: none
}

 div .container {
   width: 100%;
   min-height: 100%;
   position: relative;
   padding-bottom: 5px;
 }

 .container-fluid {
   background-color: #3B5998;
 }

 .nav {
   float: right;
 }

 .navbar-default .navbar-brand {
   color: white;
 }

 .navbar-default .navbar-nav li a{
   color: white;
 }

.row ul {
  background-color: #ffffff
}

 ul.col-xs-12.col-md-5.post {
    margin-left: 1%;
  }

 .post {
   border-style: solid;
   border-width: 2px;
   padding: 10px;
   height: 333px;
 }

 li {
   word-wrap: break-word;

 }

 .aaa {
   padding: 5px;
 }

 .row .btn-default {
   position: absolute;
   bottom: 5px;
 }

 .row .btn-info {
   position: absolute;
   bottom: 5px;
   left: 85px;
 }

 .row .btn-danger {
   position: absolute;
   bottom: 5px;
   left:148px
 }

 .footer {
   background-color: #3B5998;
   position: absolute;
   bottom: 0;
   margin-top: 50px;
   width: 100%;
   height: 50px;
 }

 .footer p {
   position: absolute;
   text-align: center;
   margin-top: 15px;
   bottom: 5px;
   right: 50%;
   color: white;
 }
